<div class="home-background">
	<div class="home-toolbar">
		<div>
			<p>Stephen George</p>
		</div>
		<a>About me</a>
		<a>Skills</a>
		<a style="text-decoration: underline;">Project Monaco</a>
	</div>

	<div class="home-wrapper">
		<div class="home-profile">
			<img class="profile-image" src="assets/profile.png" alt="Profile picture" width="20%" height="20%">
		</div>
		<div class="typer-wrapper">
			<div class="typer">
				<p>Hello, my name is Stephen.</p>
			</div>
		</div>
		<div class="below-typer">
			<p>I am an aspiring software engineer. I don't know what else to put here.</p>
		</div>
	</div>

	<div class="section-gap"></div>
	
	<div class="about-me">
		<div>
			
		<h1>About me</h1>
		</div>
		
		<div class="skill-wrapper">
			<img class="centered" src="assets/java.svg" alt="Java logo" style="float: left">
			<p class="centered" style="float: left">Java skills</p>
		</div>
	</div>	
</div>
