<div class="home-background">
	<app-toolbar></app-toolbar>

	<div class="home-wrapper">
		<div class="home-profile">
			<img class="profile-image" src="assets/profile.png" alt="Profile picture" width="20%" height="20%">
		</div>
		<div class="typer-wrapper">
			<div class="typer">
				<p><b>Hello, my name is </b><b>Stephen</b></p>
			</div>
		</div>
		<div class="below-typer">
			<p>I'd love to show you some of the cool stuff I have been working on and learning...</p>
		</div>
	</div>

	<div class="section-gap"></div>
	
	<div>		
		<h1>About me</h1>
	</div>
	<div class="about-me">
		<div class="skill-border">
			<!-- <div class="skill-wrapper">
				<img class="centered" src="assets/java.svg" alt="Java logo" style="float: left">
				<p class="centered skill-text" style="float: left">Java</p>
			</div> -->
			<div class="skills" *ngFor="let skill of this.skills">
				<app-skill-box [skill]="skill"></app-skill-box>
			</div>
			
		</div>
	</div>	
	
</div>
