.home-background {
	/* background-image: linear-gradient(to top left, #001B2E, #052942); */
	background-color: var(--main);
	min-height: 100%;
}

/* -------- Toolbar -------- */

.github-icon:hover {
	filter: invert(58%) sepia(40%) saturate(756%) hue-rotate(133deg) brightness(101%) contrast(102%);
}

/* -------- Profile -------- */

.home-profile {
	display: flex;
	justify-content: center;
}

.profile-image {

}

.home-wrapper {
	
	padding-top: 5%;

	/* display: flex;
	justify-content: center; */
	
}

/* -------- Profile Typing -------- */

.typer-wrapper {
	padding-top: 20px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	/* border-radius: 5px;
	border-color: white;
	border-style: solid; */

}

.typer {
	width: 395px;
}

.typer p {	
	color: white;
	font-size: 28px; /*22*/
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.05em; /* Adjust as needed 05 */
	height: 25px;
	animation: 
	  typing 6s steps(28, end) infinite,
	  blink-caret .75s step-end infinite;
  }

@keyframes typing {
	0% { width: 0 }
	50% { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white; }
}

.below-typer {
	padding-top: 10px;
	color: white;
	display: flex;
	justify-content: center;
}

/* -------- About me -------- */

.about-me {
	display: flex;
	justify-content: center;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}	

.centered {
	display: flex;
	justify-content: center;
}

.skill-wrapper {
	display: flex;
	justify-content: center;

	margin: 10px;
	margin-right: 15px;
	
}

.skill-text {	
	color: white;
	font-size: 22px;
	padding-top: 16px;
	padding-left: 10px;
}

.skill-border {
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

@media (max-width: 800px) {
	.skill-border {
		grid-template-columns: repeat(1, 1fr);
	}
}

.skills {
	padding-bottom: 15px;
}

.section-gap {
	padding-top: 5%;
}

